@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Black.otf'),
        url('../fonts/Gotham-Thin.otf'),
        url('../fonts/GothamLight.ttf');
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 90vh;
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}